<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/nav.css" />
    <link rel="stylesheet" href="./../css/unsuccessfully.css" />
    <title>SIT Blog</title>
  <link rel="icon" href="../1.png">
  </head>
  <body>
    <div style="height: 100vh">
      <%- nav %>
      <div class="page">
        <div class="wrap-unsuccest_content">
          <div class="wrap-logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="146"
              height="146"
              viewBox="0 0 146 146"
              fill="none"
            >
              <g clip-path="url(#clip0_81_3249)">
                <path
                  d="M143.96 117.999L143.962 118.001C144.293 118.331 144.556 118.723 144.735 119.155C144.915 119.587 145.007 120.05 145.007 120.518C145.007 120.986 144.915 121.449 144.735 121.881C144.556 122.313 144.293 122.705 143.962 123.035L143.96 123.037L123.037 143.96C123.037 143.96 123.037 143.96 123.037 143.96C122.369 144.628 121.463 145.003 120.518 145.003C119.574 145.003 118.668 144.628 118 143.96L73.7069 99.6675L72.9998 98.9604L72.2927 99.6675L28 143.96L27.9986 143.962C27.6685 144.293 27.2762 144.556 26.8442 144.735C26.4123 144.915 25.9491 145.007 25.4814 145.007C25.0136 145.007 24.5505 144.915 24.1185 144.735C23.6865 144.556 23.2942 144.293 22.9641 143.962L22.9628 143.96L2.03928 123.037C1.37141 122.369 0.996222 121.463 0.996222 120.518C0.996222 119.573 1.37137 118.667 2.03917 117.999C2.0392 117.999 2.03924 117.999 2.03927 117.999L46.3319 73.7067L47.039 72.9996L46.3319 72.2925L2.03917 27.9997L2.03786 27.9984C1.7065 27.6683 1.44358 27.276 1.26418 26.844C1.08478 26.412 0.992432 25.9489 0.992432 25.4811C0.992432 25.0134 1.08478 24.5502 1.26418 24.1183C1.44358 23.6863 1.7065 23.294 2.03785 22.9639L2.03917 22.9625L22.9627 2.03903C22.9627 2.03899 22.9628 2.03896 22.9628 2.03892C23.6308 1.37112 24.5368 0.995978 25.4814 0.995978C26.426 0.995978 27.3319 1.37112 28 2.03892C28 2.03896 28 2.03899 28.0001 2.03903L72.2927 46.3317L72.9998 47.0388L73.7069 46.3317L118 2.03892L118.001 2.03761C118.331 1.70625 118.723 1.44333 119.155 1.26393C119.587 1.08454 120.051 0.992188 120.518 0.992188C120.986 0.992188 121.449 1.08454 121.881 1.26393L122.265 0.34041L121.881 1.26393C122.313 1.44333 122.705 1.70625 123.036 2.03761L123.037 2.03892L143.956 22.9582C143.957 22.9588 143.957 22.9593 143.958 22.9599C144.621 23.6316 144.992 24.5374 144.992 25.4811C144.992 26.4249 144.621 27.3306 143.958 28.0024C143.957 28.0029 143.957 28.0035 143.956 28.004L99.6677 72.2925L98.9606 72.9996L99.6677 73.7067L143.96 117.999Z"
                  fill="white"
                  stroke="black"
                  stroke-width="2"
                />
              </g>
              <defs>
                <clipPath id="clip0_81_3249">
                  <rect width="146" height="146" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="content-under-logo">
            <div class="text1">Oh no!</div>
            <div class="text2"><%= message %></div>
          </div>
          <div class="wrap-link"><%- goto %></div>
        </div>
      </div>
    </div>
  </body>
</html>
